

<div class="row mt-5">
  <div class="col-8">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Presence Date</th>
        <th scope="col">Employee Name</th>
        <th scope="col">Department</th>
        <th scope="col">Room</th>
        <th scope="col">Parking Spot</th>
        <th scope="col">Arrival Time</th>
        <th scope="col">Departure Time</th>
        <th scope="col">Notes</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let presence of list; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ presence.presenceDate }}</td>
          <td>{{ presence.employeeFullName }}</td>
          <td>{{ presence.employeeDepartment }}</td>
          <td>{{ presence.roomNumber }}</td>
          <td>{{ presence.parkingSpot }}</td>
          <td>{{ presence.arrivalTime | date: 'shortTime' }}</td>
          <td>{{ presence.departureTime | date: 'shortTime' }}</td>
          <td>{{ presence.notes }}</td>
          <td>
            <button class="btn btn-sm btn-danger" (click)="deletePresence(presence.presenceId)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="col-3">
    <app-office-presence-form />
  </div>
</div>
